* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Nav {
    height: 4.5rem;
    width: 100%;
    display: flex;
    /* background-color: blue; */
    margin-top: 1rem;
    justify-content: center;
}

.Nav>article {
    height: 4.5rem;
    width: 90%;
    
    font-family: 'Jo90in Sans', sans-serif;
    display: flex;

    /* background-color: blueviolet; */
}

.Nav>article>.Logo {
    height: 100%;
    width: 45%;
    /* background-color:orange; */
    text-shadow: 1px 0px 2px black;
    display: flex;
    color: rgb(0, 0, 44);
    align-items: center;
    font-family: cursive;
}

.Nav>article>.Menu {
    height: 100%;
    width: 45%;
    /* background-color: red; */
    
}
.Nav>article>.Bar{
    width: 10%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 23px;
    cursor: pointer;
    
    /* position: absolute; */
    display: none;
}
.Nav>article>.Bar>.cross{
    display: none;
}
.Nav>article>.Menu ul {
    height: 4rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: end;
    align-items: center;
    list-style-type: none;
    gap: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
    color: rgb(83, 83, 83);
    /* color:white; */
    padding-right: 2rem;
}

.Nav>article>.Menu>ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    height: 4rem;

}

.Nav>article>.Menu>ul>li:hover {
    height: 2rem;
    border-width: 1rem;
    border-bottom: 2px solid rgb(80, 80, 80);
    color: rgb(70, 70, 70);
    cursor: pointer;
}

.Nav>article>.Header_contact_btn {
    height: 4rem;
    width: 30%;
    /* background-color: green; */
}

/* ************************************ */
.content {
    height: 70vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    /* margin-top: 25rem; */
    
}

.content>article {
    height: 100%;
    width: 90%;
    /* background-color: blue; */
}

.content>.midbox {
    display: flex;
    width: 90%;
    /* background-color:skyblue; */
    /* justify-content: space-between; */
}

.content>.midbox>.Social {
    width: 10%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#instagram:hover {
    transform: scale(1.3);
    transition: 1s;
}

#github:hover {
    transform: scale(1.3);
    transition: 1s;
}

#whatsapp:hover {
    transform: scale(1.3);
    transition: 1s;
}

.Social_block {

    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    cursor: pointer;
}

.content>.midbox>.Bio {
    width: auto;
    /* background-color: blueviolet; */
}

.Bio {
    display: flex;
    padding: 2.5rem 1.5rem;
    /* justify-content: center; */
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.Bio>.content_of_bio h1 {
    font-size: 2.3rem;
}

.Bio>.content_of_bio>h1>span {
    color: darkmagenta;
    text-shadow: 0px 1px 1px black;
}

.Bio>.content_of_bio>p {
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.Bio>.content_of_bio {
    margin-bottom: 10px;
}

.Bio>.Bio_btn>button {
    height: 2.4rem;
    width: 8rem;
    border: 2px solid transparent;
    background-color: black;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
}

.Bio>.Bio_btn>button:hover {
    background-color: rgb(41, 40, 40);
}

.Bio>.Scroll_down>button {
    background-color: transparent;
    border: none;
    margin-top: 4rem;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}

.Bio>.Scroll_down>button:hover {
    color: rgb(66, 66, 66);

}

.Bio>.Scroll_down>button>#mouse {
    margin-right: 0.3rem;
}

.Bio>.Scroll_down>button>#Arrow {
    transform: rotate(90deg);
}


/* ***************************Image********************** */


.content>.midbox>.Image {

    /* width: 45%; */
    height: 100%;
    width:100%;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .content>.midbox>.Image>.imagecircle{
    height:22rem;
    width: 22rem;
    border-radius: 50%;
    box-shadow: 0px 1px 1.5rem black;

} */

.imagebox {
    height: 100%;
    width: 100%;
    /* background-color: #008000; */
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.imagebox>img {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    box-shadow: 0px 1px 1.5rem black;
    background-image: url("/public/Mirror.jpeg");
    background-repeat: no-repeat;
    /* backface-visibility: hidden; */
    background-size: cover;
}

#underline {
    width: 3rem;
    border-bottom: 1px solid black;
    position: relative;
    bottom: 1rem;
}

#developer {
    font-size: 1.8rem;
}

#developerBox {
    display: flex;
    gap: 0.3rem;
}

/* ******************************************Project************************************* */

.project {
    margin-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
    width: auto;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;

}

.project>section {
    height: 100%;
    width: 86%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project>section>.Proj {
    font-size: 3rem;
    font-weight: 600;

    /* background-color: wheat; */

}

.project>section>.boxes {
    display: flex;
    height: 80vh;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-evenly;
    /* background-color: green; */


}

.project>section>.boxes>.project_box {
    height: 13rem;
    width: 16rem;
    /* background-color: blue; */
    box-shadow: 0px 0px 15px rgb(117, 117, 117);
    border-radius: 0.5rem;
    padding: 9px 13px;
    cursor: pointer;

}

.project>section>.boxes>.project_box:hover {
    transform: scale(1.1);
    transition: 1s;
}

.project>section>.boxes>.project_box>#boximage>a>#proj_img {
    height: 9rem;
    width: 14rem;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
}

.skillBackground {
    height: 86vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;

}

.skillBackground>.divWidth {
    height: 100%;
    width: 90%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.skillBackground>.divWidth>.Skill {
    /* background-color: pink; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute; */
    margin-top: 1.5rem;
}

.skillBackground>.divWidth>.fullStack {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    margin-top: 1.7rem;
    margin-bottom: 3rem;
    /* background-color: chartreuse; */
    
}

.skillBackground>.divWidth>.fullStack>.Frontend {
    width: 22rem;
    box-shadow: 1px 1px 5px black;
    padding: 1rem 1.5rem;
    /* background-color: turquoise; */
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
}
.skillBackground>.divWidth>.fullStack>.Frontend:hover{
    transform:scale(1.1);
    transition: 1s;
}
.skillBackground>.divWidth>.Services {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: tomato; */
    padding: 10px;
}
.skillBackground>.divWidth>.fullStack>.Frontend{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.skillBackground>.divWidth>.fullStack>.Frontend>.languages{
    /* background-color: red; */
    width: 100%;
    
}
.skillBackground>.divWidth>.fullStack>.Frontend>.languages>ul{
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    margin-top:1rem;
    justify-content: center;
    

}
.skillBackground>.divWidth>.fullStack>.Frontend>.languages>ul>li{
    list-style-type: none;
    height: 3rem; 
    width: 9rem;
    display: flex;
    gap:0.3rem;
    /* background-color: green; */
    
}
.skillBackground>.divWidth>.fullStack>.Frontend>.languages>ul>li>div>p{
    font-size: 13px;
}
/* ***************************Contact************************************* */
.Contact{
    /* height: 85vh; */
    height: auto;
    /* width: auto; */
    /* background-color: yellow; */
    display: flex;
    color: rgb(22, 22, 22);
    justify-content: center;
    margin-top: 1rem;
}
.Contact>.Contact_box{
    /* height: 88vh; */
    height: auto;
    /* width: 50%; */
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.Contact>.Contact_box>#box{
    /* background-color:gray; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* padding-top: 3rem; */
    /* margin-top: 3rem; */
    gap: 1rem;
}
.Contact>.Contact_box>#box>#Social_box{
    background-color:white;
    box-shadow: 1px 1px 3px black;
    height: 5rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
.Contact>.Contact_box>#box>#Social_box:hover{
    transform: scale(1.1);
    transition: 1s;
    color: rgb(0, 2, 148);
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}
.Contact>.Contact_box>#box>#Social_box>#icon{
    height: 1.6rem;
    margin-bottom: 0.3rem;
}
.Contact>.Contact_box>#box>#Social_box>p{
    margin-bottom: 0.3rem;
}
.Contact>.Contact_box>div>#Social_bo{
    font-size: 23px;
    font-weight: bold;
    
    
}

.Contact>.Contact_box>.RightSideBox>.Contact>form{
    display: flex;
    flex-direction: column;
    /* background-color:blue; */
}
.Contact>.Contact_box>.RightSideBox>.Contact>form{
    display: flex;
    /* background-color: green; */
    /* width: ; */
}
.Contact>.Contact_box>.RightSideBox>.Contact>form>label{
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}
.Contact>.Contact_box>.RightSideBox>.Contact>form>input{
    width: 18rem;
    height: 2.3rem;
    margin-bottom: 0.6rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.Contact>.Contact_box>.RightSideBox>.Contact>form>button{
    /* width: 14rem; */
    height: 2.3rem;
    font-size: 1.3rem;
    border-radius: 0.2rem;
    cursor: pointer;
    border: 2px solid blue;
    background-color: blue;
    color: white;
    margin-top: 0.6rem;
    margin-bottom: 0.7rem;
    
}
.Contact>.Contact_box>.RightSideBox>.Contact>form>button:hover{
    background-color: rgb(39, 39, 255);
}




/* *********************************Media Query*********************************** */
@media only screen and (max-width: 940px){
    .Nav{
        height: auto;
        /* background-color: aliceblue; */
    }
    .content>.midbox{
       height: 50rem;
       width: auto;
        /* background-color: burlywood; */
        display: flex;
        margin-top: 0rem;
        justify-content: center;
        align-items: center;
        /* flex-direction: row-reverse; */
        flex-direction: column-reverse;
        
    }
    .Social_block{
        display: flex;
        flex-direction:row;
        
    }
    .Nav>article>.Logo{
        width: 100%;
        display: flex;
        justify-content: center;
        /* height: auto; */
        /* display: flex;
        
        width: auto; */
    }
    .Nav>article>.Bar{
        display: block;
        flex-direction: column;
        width: 90%;
        display: flex;
        position: absolute;
        bottom: 83%;
        justify-content: end;
        align-items: end;
      
    }
    .Nav>article>.Bar>.navBarButton{
        z-index: 999;
        border: 1px solid black;
        padding: 1px 6px;
        display: block;
    }
    .imagebox>img {
        height: 15rem;
        width: 15rem;
    }
    .Nav>article {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
       
        /* background-color: aqua; */
        height: auto;
    }
    .Nav>article>.Menu{
        width:100%;
        /* background-color:black; */
        justify-content: center;
        padding: 1rem;
        /* display: none; */
        /* transform: translateX(100%); */
        transition: all 0.5s linear;
        /* opacity: 0;
        visibility: hidden; */
/*         pointer-events: none; */
        /* display: none; */
       

    }
    .Nav>article>.Menu ul{
        /* display: flex; */
        /* background-color: blue; */
        flex-direction: column;
        margin-top: 10rem;
    }
   
}

@media only screen and (max-width: 600px) {
    body {
      /* background-color: lightblue; */
    }
    .skillBackground>.divWidth>.fullStack{
        margin-top:-1rem;
        margin-bottom: -1rem;
    }
    .content>.midbox{
        height: 53rem;
        /* width: auto; */
    }
    .project>section>.boxes>.project_box{
        /* background-color: yellow; */
        margin: 10px;
    }
    .Contact>.Contact_box>.RightSideBox>.Contact>form>input{
        width: 16.6rem;
    }
    .project{
        height: 184vh;
    }
    .Nav>article>.Logo {
        /* display: none; */
    }
    .Contact>.Contact_box{
        height: 56rem;
        /* background-color: red; */
    }
    .Contact>.Contact_box>.LeftSideBox{
        position: relative;
        /* margin-top: 1rem; */
        /* background-color: yellow; */
        padding: 1.5rem;
      }
      .Contact>.Contact_box>.RightSideBox{
        /* background-color: blue; */
        position: relative;
        bottom: 4.5rem;
      }

  }
  @media only screen and (max-width: 460px){
    .content>.midbox{
        height: 63rem;
    }
